@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar globally */
html, body {
  overflow-y: scroll; /* keep scroll working */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}